<div ng-controller="voteCtrl">

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-col-sm-4 col-md-4 title">
                <h3> רשימת נושאים להצבעה - {{currentUser().committee_id}}</h3>
            </div>

            <div class="col-xs-12 col-col-sm-4 col-md-4 btn-div">

                <button type="button" class="btn btn-warning btn-sm" ng-click="showImportantMessages()">
                    <span class="white-title">הצבעות ישנות</span>
                </button>
                <button type="button" class="btn btn-success btn-sm" ng-click="showDefaultMessages()">
                    <span class="white-title">הצבעות על הפרק</span>
                </button>


            </div>
        </div>
    </div>

    <div class="white">
        <!-- <button type="button" class="btn btn-info btn-sm" ng-click="orderByDate()">מיין לפי תאריך</button> -->

        <ul class="list-group list-group-flush wide-list">
            <li class="list-group-item" ng-repeat="vote in votes">
                <div class="row">
                    <div class="col-xs-12 col-col-sm-5 col-md-5 title">
                        <span>
                            <i ng-click="deleteVoteSubject(vote.id)" class="fas fa-trash-alt"></i>
                        </span> {{vote.subject}} {{vote.id}}
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7 sub-title">
                        {{vote.body}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 sub-title">
                        <span data-toggle="modal" data-target="#voteModal" ng-click="getCurrentVoteId(vote)">
                            <i class="fas fa-hand-paper"></i>
                        </span> ניתן להצביע החל מ- {{vote.start_date}} עד {{vote.end_date}}

                    </div>
                </div>
            </li>

        </ul>


    </div>
    <button type="button" class="btn btn-primary" style="margin-top: 15px; margin: 0 auto; display: flex;" data-toggle="modal"
        data-target="#myModal">
        צור נושא להצבעה
    </button>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form role="form">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="form-group">
                        <input type="text" value="{{currentUser().committee_id}}" name="title" id="title" class="form-control input-lg" ng-model="vote.subject"
                            placeholder="נושא ההצבעה" tabindex="1">
                    </div>
                    <div class="form-group">
                        <input type="text" name="body" id="body" class="form-control input-lg" placeholder="פרטי ההצבעה" ng-model="vote.body" tabindex="2">
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vote.end_date" is-open="popup1.opened"
                                    datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="input-group">

                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vote.start_date" is-open="popup2.opened"
                                    datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <hr />
                    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>

                    <div class="modal-footer">
                        <button type="button" ng-click="addVoteSubject(vote)" class="btn btn-primary center center" data-dismiss="modal">שלח</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="voteModal">
        <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-content">
                   <form role="form">
                    
                    <h2>{{currentVote.subject}}</h2>
                    <h3>{{currentVote.body}}</h3>
                    <!-- <div class="form-group">
                        <input type="text" value="{{currentUser().committee_id}}" name="title" class="form-control input-lg" tabindex="1">
                    </div> -->
                    <!-- <div class="form-group">
                        <input type="text" name="body" id="body" class="form-control input-lg" placeholder="{{currentUser().committee_id}}" ng-model="vote.body"
                            tabindex="2">
                    </div> -->

                    <hr />
                    <div ng-init="vote.priority=default">
                        <div class="voteBtn">
                            <label class="btn btn-danger" ng-model="vote.vote_res" value="reject" uib-btn-radio="'Reject'">מתנגד</label>
                            <label class="btn btn-primary" ng-model="vote.vote_res" value="avoid" uib-btn-radio="'Avoid'">נמנע</label>
                            <label class="btn btn-success" ng-model="vote.vote_res" value="agree" uib-btn-radio="'Agree'">מסכים</label>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" ng-click="addVote(vote.vote_res)" class="btn btn-primary center center" data-dismiss="modal">שלח</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





</div>