<!DOCTYPE html>
<html lang="en" ng-app="HomeApp" >
<head>
 


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Angualr JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <!-- <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"> -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

   <script src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->

 
    <script src="Js/imageupload.js"></script>
    <script src="Js/datePicker.js"></script>
    <script src="Js/modalWithParameter.js"></script>



    <script src="Users/userCtrl.js"></script>
    <script src="Menu/menuCtrl.js"></script>
    <script src="Users/userService.js"></script>
    <script src="Login/loginCtrl.js"></script>
    <script src="Login/tenantDirective.js"></script>
    <script src="Messages/messageCtrl.js"></script>
    <script src="Messages/messageService.js"></script>
    <script src="Voting/voteCtrl.js"></script>
    <script src="Voting/voteService.js"></script>
   

    
    <link rel="stylesheet" href="style.css">
  
</head>
<body>
    
    <div class="row">
       <div class="col-md-3" ng-controller="menuCtrl" >
        <div class="profile-sidebar">
          
          <div class="profile-userpic" ng-show="isUserLoggedIn()" >
        
            <img src="{{currentUser().image_url}}" class="img-responsive" alt="">
             </div>
         
          <div class="profile-usertitle" ng-show="isUserLoggedIn()">
                      <div>
            
            </div>
           
            <div>
            <h3 class="profile-usertitle-name" >שלום {{currentUser().first_name + "  " + currentUser().last_namel}}  </h3>
            
             </div>
           
          </div>
          
          <div class="mobile profile-usermenu">

              <ul class="nav" ng-hide="isUserLoggedIn()" >
                  <li ng-class="{active: isActive('/signUp')=='/signUp'}">
                      <a  href="#!/signUp">
                         רישום </a>
                  </li>
                  <li ng-class="{active: isActive('/login')=='/login'}">
                    <a  href="#!/login">
                  
                    כניסה </a>
                  </li>
                 
                </ul>
              



                <ul class="nav" ng-show="isUserLoggedIn()">
                  <li ng-show="currentUser().isManager" ng-class="{active: isActive('/signUp')=='/signUp'}">
                    <a href="#!/signUp">
                       הוספת דייר </a>
                  </li>
                  <li ng-class="{ active: isActive('/tenantsList')=='/tenantsList'}">
                  
                      <a  href="#!/tenantsList">
                         דיירים </a>
                  </li>
                  <li ng-class="{ active: isActive('/messagesList')=='/messagesList'}">
                    <a  href="#!/messagesList">
                   
                    הודעות</a>
                  </li>
                    <li ng-class="{ active: isActive('/vote')=='/vote'}">
                 
                    <a  href="#!/vote">
                  
                   הצבעות </a>
                  </li>
                  <li >
                 
                    <a class="nav-link" href="javascript:void(0)" ng-click="logout()">
                  
                   התנתק </a>
                  </li>
                </ul>
            
          
          
          </div>
         
        
          <div class="screen profile-usermenu">
            <ul class="nav" ng-hide="isUserLoggedIn()" >
                <li ng-class="{active: isActive('/signUp')=='/signUp'}">
                  <a href="#!/signUp">
                    <i class="fas fa-sign-in-alt"></i>
                רישום </a>
              </li>
              <li ng-class="{active: isActive('/login')=='/login'}">
                <a href="#!/login">
                <i class="glyphicon glyphicon-user"></i>
                כניסה </a>
              </li>
             
            </ul>
            
            <ul class="nav" ng-show="isUserLoggedIn()">
                <li ng-show="currentUser().isManager" ng-class="{active: isActive('/signUp')=='/signUp'}">
                  <a href="#!/signUp">
                      <i class="fas fa-user-plus"></i>
                  הוספת דייר </a>
                </li>
                <li ng-class="{ active: isActive('/tenantsList')=='/tenantsList'}">
                    <a href="#!/tenantsList">
                      <i class="fas fa-list-ol"></i>
                  רשימת דיירים </a>
                </li>
                <li ng-class="{ active: isActive('/messagesList')=='/messagesList'}">
                  <a href="#!/messagesList">
                    <i class="far fa-comments"></i>
                 רשימת הודעות</a>
                </li>
                <li ng-class="{ active: isActive('/vote')=='/vote'}">
                  <a href="#!/vote">
                    <i class="fas fa-balance-scale"></i>
                 הצבעות </a>
                </li>
                <li ng-class="{ active: isActive('/vote')=='/vote'}">
                  <a class="nav-link" href="javascript:void(0)" ng-click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                 התנתק </a>
                </li>
              </ul>
          </div>
        
        </div>
      </div>
      <div class="col-md-9" >
          <ng-view></ng-view>
         </div>
      
    </div>
     










</body>
</html>
