@media only screen and (max-width: 600px){

.screen{
  display:none;
}

/* .nav{
  display:inline !important;
} */

  .profile-usermenu {
    margin-top: 30px;
     margin-bottom: 0px !important; 
    
}

.cardBtnRow {
 
  position: relative !important;
}
.msgBtn{
  width:65px;
  font-size:15px;

}
h3 {
  font-size: 20px !important;
  color: #5a7391;
}
.white-title {
  font-size: 11px !important;
 
}
}

body {
    font: 18px Montserrat, sans-serif;
       line-height: 1.8;
      text-align: right;
    direction:rtl;
}
.fas fa-chart-pie{
  color:#007bff;
}
.fas fa-trash-alt{
  color:#eea236;
}
.fas fa-hand-paper{
  color:#5cb85c;
}



.ul {
  list-style: none !important;
}
.navScreenList{
  display: inline !important;
}
/* .nav{
  display:block !important;
} */
[class*="col-"]{
  float:right!important;

}
i {
  margin-left: 10px;
  font-size:18px;
}
i.fas.fa-chart-pie{
  color:#007bff;
}
i.fas.fa-trash-alt{
  color:#eea236;
}
i.fas.fa-hand-paper{
  color:#5cb85c;
}

.voteBtnOpt{
  margin: 0 auto;
  width: 46%;
  margin-bottom: 20px;
}
.white {
  background-color: white;
}
.white-title{
  font-size: 16px;
  font-weight: 500;
  color:white;

}
.title{
  font-size: 16px;
  font-weight: 500;
  color:#337ab7;
 
 

}
.sub-title{
  font-size: 14px;
  font-weight: normal;
   color: #5a7391;
 

}
.btn-div{
  padding-top:12px;
  margin-right: 8px;


}
.list-group {
  padding-left: 0;
  margin-bottom: 10px;
}
.wide-list{
  width:100%;
  padding-right: 28px;
  padding-left: 20px;
}
.mainTitle{
  color:#337ab7;
}
.header{
  background-color: #eeeeee;
  padding: 14px;
  
}
.cardBtnRow{
  position: absolute;
    bottom: 0;
}
.card-img-top {
  width: 48% !important;
 margin:0 auto;
    margin-top: 10%;
    margin-bottom: 15px;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.btn .caret {
  margin-left: -8px !important ;
  margin-top: -2px !important;
}

.modal-content{
  padding:15px;
}
.center{
  margin: 0 auto;

}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 14px)!important ;
}

.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
@media screen and (min-width: 768px) {

.mobile{
  display:none
}
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    height: 100vh;
  }
  #adv-search {
      width: 83%;
      margin: 0 auto;
      margin-top: 15px;
  }
  .btn-group .btn:last-child {
    
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    margin-left: -8px;
}
  .dropdown.dropdown-lg {
      position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
      min-width: 236px;
  }
}

input[type=file] {
  display: block;
 
  font-size: 14px !important;
  
}
p {font-size: 16px;}

.bg-1 { 
    background-color: #e9ebee;
    color: #5a7391;
}

.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.navbar {
    padding-top: 16px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.container {
  width: 94%;
}
.navbar-default .navbar-nav > li > a{
  color:black;
  font-size:18px;
  font-weight: bold;

}
.brandName{
  color:black;
  font-size:28px;
  font-weight: bold;
  margin-left:12px;

}

body {
    background: #F1F3FA;
  }
  
  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 35%;
    height: 35%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
    margin-bottom: 35%;
    width: 90%;
    margin: 0 auto;
    color: rgb(90, 115, 145);
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    /* color: #93a3b5 !important; */
    font-size: 14px;
    font-weight: 400;
    padding: 7px;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }

  .input-group-addon:first-child {
 
 border-radius: 6px;
}

  .tenantDetails{
    list-style: none;
    margin-bottom:20%;
  }
  .panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	/* display: block; */
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: black !important;
}
.nav {
  padding-left: 0 !important;
  margin-bottom: 0 v;
  list-style: none !important;
}
.nav>li {
  position: relative !important;
  display: block !important;
}
.nav>li>a {
  position: relative !important;
  display: block !important;
  padding: 10px 15px !important;
}
.messageImg{
  width:100%;
  height:300px;
 
}
.ng-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}

.ng-modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 60px rgba(0, 0, 0, .4);
}

.ng-modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-family: 'arial', 'sans-serif';
  font-weight: bold;
  color: #555;
}

.ng-modal-dialog-content {
  padding:20px;
  text-align: left;
}
.voteBtn{
  width: 157px;
    margin: 4px;
    text-align:center;

}

