<div class="row" ng-controller="messageCtrl">



        <div class="form-group">
                <input type="text" class="form-control"  ng-model="query">
              </div>
        <button type="button" class="btn btn-info btn-sm"  ng-click="showImportantMessages()">הודעות חשובות</button>
        <button type="button" class="btn btn-info btn-sm" ng-click="showDefaultMessages()">הודעות שסובלות דיחוי</button>
        <button type="button" class="btn btn-info btn-sm" ng-click="showAll()">כל ההודעות</button>


        <button type="button" class="btn btn-info btn-sm" ng-click="orderByDate()">מיין לפי תאריך</button>
    
        <div class="col-sm-6 col-lg-3 my-2" ng-repeat="message in messages | filter : filterMessages"  ng-click="deleteMessage(message.id)"  >
         <div class="card  h-100">
          <!-- <img class="messageImg card-img-top"  alt=""> -->
          <div class="card-body">
            <h4 class="card-title"> נושא:{{message.title}}</h4>
            <p class="card-text">{{message.body}}</p>
          </div>
          <div class="card-footer">
              
                <p class="card-text">{{message.priority}}</p>
                <p class="card-text">{{message.date}}</p>
          </div>
      
      </div>
        </div>




        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        צור הודעה
        </button>
      
        <!-- The Modal -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <!-- <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div> -->
              
              <!-- Modal body -->
              <div class="row">
       
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form">
                      
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="title" id="title" class="form-control input-lg" ng-model="message.title" placeholder="נושא ההודעה" tabindex="1">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="body" id="body" class="form-control input-lg" placeholder="פרטי ההודעה" ng-model="message.body" tabindex="2">
                                </div>
                            </div>
                       
                            <div class="col-xs-12 col-sm-6 col-md-6">
                              <div class="form-group" ng-init="message.priority=default">
                                  <input type="radio" value="important"  ng-model="message.priority" >חשוב
                                  <input type="radio" value="default"  ng-model="message.priority" > פחות חשוב
                                  
                              </div>
                          </div>
                       
                       
                          </div>
                          <div class="modal-footer">
                              <button type="button" ng-click="addMessage(message)" class="btn btn-danger" data-dismiss="modal">צור הודעה</button>
                            </div>
                        
                        <!-- <div class="row">
                           <div class="col-xs-12 col-md-12"><a href="#" class="btn btn-success btn-block btn-lg"  ng-click="addMessage(message)" >צור חשבון</a></div>
                        </div> -->
                    </form>
                </div>
            </div>
              <!-- Modal footer -->
             
              
            </div>
          </div>
        </div>
        




      
      </div>